/*base.css*/
body, input, textarea, select, button {
    font: 12px "Microsoft YaHei", Verdana, arial, sans-serif;
    line-height: 22px;
}
body, ul, ol, li, dl, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset, table {
    margin: 0;
    padding: 0
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
a {
    outline: none;
    text-decoration: none;
    cursor: pointer;
    color: #3278e6;
}
a:hover {
    outline: none;
    color: #78aaf0;
    text-decoration: none;
}
/*result-info*/
.result-info {
    width: 600px;
}
.result-info td {
    color: #828282;
}
.result-info a {
    color: #828282;
}
.result-info a:hover {
    color: #3278e6;
}
.result-info .date {
    width: 105px;
    text-align: center;
    padding:20px;
    padding-left: 14px;
    padding-right: 25px;
}
.day {
    margin-right: 10px;
}
.time {
    font-size: 13px;
    display: inline-block;
    position: relative;
}
.time:before{
    content: '';
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 11px;
    background-color: #ccc;
    right: -31px;
    top: 6px;
}
/*last*/
.result-info .last td,  .result-info .last td a{
    color: #000;
}
.last .time:after {
    content: '';
    position: absolute;
    width: 11px;
    height: 50px;
    left: 59px;
    top: -44px;
    background-color: #fff;
}
/*first*/
.first .time:after {
    content: '';
    position: absolute;
    width: 11px;
    height: 50px;
    left: 59px;
    top: 17px;
    background-color: #fff;
}
/*内容*/
.context {
    font-size: 14px;
    padding-left: 25px;
    border-left: 1px solid #ccc;
}
